# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [39]:
import pandas as pd
import random
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [25]:
cars1 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv')
cars2 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv')

In [13]:
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN

In [3]:
cars2.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [20]:
#My version
cars1 = cars1.dropna(axis=1)
cars1

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
193,24.0,6,200,81,3012,17.6,76,1,ford maverick
194,22.5,6,232,90,3085,17.6,76,1,amc hornet
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit

In [26]:
#Version author:

cars1 = cars1.loc[:, 'mpg' : 'car']
cars1

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
193,24.0,6,200,81,3012,17.6,76,1,ford maverick
194,22.5,6,232,90,3085,17.6,76,1,amc hornet
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit

### Step 5. What is the number of observations in each dataset?

In [29]:
cars1.shape

(198, 9)

In [30]:
cars2.shape

(200, 9)

In [31]:
cars1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           198 non-null    float64
 1   cylinders     198 non-null    int64
 2   displacement  198 non-null    int64
 3   horsepower    198 non-null    object
 4   weight        198 non-null    int64
 5   acceleration  198 non-null    float64
 6   model         198 non-null    int64
 7   origin        198 non-null    int64
 8   car           198 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 14.1+ KB

In [32]:
cars2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           200 non-null    float64
 1   cylinders     200 non-null    int64
 2   displacement  200 non-null    int64
 3   horsepower    200 non-null    object
 4   weight        200 non-null    int64
 5   acceleration  200 non-null    float64
 6   model         200 non-null    int64
 7   origin        200 non-null    int64
 8   car           200 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 14.2+ KB

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [36]:
cars = cars1.append(cars2)
cars.shape

C:\Users\admin\AppData\Local\Temp\ipykernel_3772\2442628780.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cars = cars1.append(cars2)

(398, 9)

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [60]:
nr_owners = np.random.randint(15000, high=73001, size=cars.shape[0], dtype='l')
nr_owners

array([22693, 24661, 57720, 24671, 38251, 69565, 24205, 67847, 41452,
       58330, 27149, 46792, 65359, 28084, 50430, 39236, 69397, 36464,
       32265, 42180, 59484, 68994, 40398, 19028, 53047, 15903, 48437,
       36997, 21441, 69927, 17381, 71195, 42194, 52537, 66456, 18218,
       17365, 38678, 18603, 65425, 46051, 17674, 54700, 51946, 41109,
       31841, 59548, 45888, 36615, 22480, 63998, 23312, 28117, 72944,
       64652, 72948, 51335, 67453, 66508, 58276, 67799, 16450, 67418,
       29605, 51003, 16422, 67443, 65244, 68195, 23759, 50535, 30162,
       33952, 47300, 60058, 60285, 25615, 45742, 42079, 18559, 53067,
       16692, 41683, 57154, 28058, 67097, 37240, 24376, 40332, 56414,
       59089, 34770, 30211, 24994, 71319, 46823, 27612, 58889, 55163,
       34100, 43920, 65092, 44530, 42839, 60460, 44701, 68024, 26895,
       57173, 49035, 56998, 19638, 48244, 64594, 68989, 38831, 53383,
       45596, 51447, 68323, 19355, 53843, 72998, 45397, 72069, 33100,
       56803, 57684, 50665, 67140, 49738, 60978, 26851, 62081, 47662,
       35508, 32075, 17916, 39034, 53853, 24414, 63154, 26113, 68088,
       68418, 67176, 53456, 21827, 25766, 67873, 39088, 65935, 50395,
       33407, 36581, 50259, 61009, 56757, 32782, 67529, 55913, 19414,
       49664, 26763, 49151, 46730, 32726, 45392, 52394, 37412, 24969,
       40818, 69778, 26508, 20109, 19711, 16335, 57823, 58336, 62801,
       16203, 35126, 32967, 22921, 66593, 18522, 47817, 58650, 71808,
       18313, 64563, 32085, 62843, 17300, 23128, 42169, 34845, 30791,
       58736, 59004, 18006, 49059, 35338, 72112, 58377, 72187, 72626,
       24269, 57674, 37907, 32472, 28750, 40495, 21832, 61400, 18504,
       52569, 45302, 46947, 19720, 53279, 46697, 48625, 56222, 15476,
       26877, 27011, 58349, 56205, 60662, 43304, 26999, 65418, 45024,
       68241, 26085, 22260, 25108, 53291, 49043, 34790, 21856, 15467,
       21672, 35500, 35403, 52896, 28478, 64415, 51785, 21545, 72722,
       23662, 23560, 39314, 38546, 53852, 17581, 23600, 61570, 70364,
       35149, 25750, 38992, 20109, 16677, 39954, 60005, 55818, 22224,
       40291, 68258, 35252, 62890, 21155, 30567, 65014, 37052, 15411,
       28043, 48195, 41987, 52487, 18299, 63613, 15540, 19710, 24663,
       43535, 53336, 66087, 50461, 45881, 66589, 47655, 42739, 19576,
       45723, 40085, 45831, 51889, 51243, 43374, 70223, 54467, 30910,
       21683, 37792, 16455, 57944, 66051, 63001, 55137, 37019, 23063,
       22967, 35894, 30839, 37483, 28538, 20139, 55111, 61019, 38014,
       55012, 67089, 70579, 49402, 15041, 64962, 68824, 57335, 23223,
       70281, 47162, 47822, 57964, 28754, 44000, 17973, 22451, 54159,
       18316, 51691, 54580, 64921, 51737, 47335, 16148, 64884, 40458,
       45885, 22175, 61806, 60493, 34140, 58317, 33686, 25284, 65306,
       29636, 72353, 47962, 35847, 51235, 21185, 70177, 21208, 26305,
       43872, 30521, 22090, 72661, 48958, 49595, 70801, 58036, 46828,
       21394, 60108, 54454, 55074, 36360, 54330, 17460, 18243, 21186,
       32065, 25814, 59197, 41873, 39816, 35611, 27904, 41406, 54432,
       52191, 45340])

### Step 8. Add the column owners to cars

In [61]:
cars['owners1'] = nr_owners

In [62]:
#My version:
cars['owners'] = pd.DataFrame(np.random.default_rng().choice(range(15000,73000), size=(len(cars), 1)), columns=['owners'])
print(cars)
print(cars['owners'].min())
print(cars['owners'].max())

      mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0    18.0          8           307        130    3504          12.0     70
1    15.0          8           350        165    3693          11.5     70
2    18.0          8           318        150    3436          11.0     70
3    16.0          8           304        150    3433          12.0     70
4    17.0          8           302        140    3449          10.5     70
..    ...        ...           ...        ...     ...           ...    ...
195  27.0          4           140         86    2790          15.6     82
196  44.0          4            97         52    2130          24.6     82
197  32.0          4           135         84    2295          11.6     82
198  28.0          4           120         79    2625          18.6     82
199  31.0          4           119         82    2720          19.4     82

     origin                        car  owners  owners1
0         1  chevrolet chevelle malibu   36171    22693
1         1          buick skylark 320   68337    24661
2         1         plymouth satellite   44795    57720
3         1              amc rebel sst   16836    24671
4         1                ford torino   28713    38251
..      ...                        ...     ...      ...
195       1            ford mustang gl   63297    27904
196       2                  vw pickup   57678    41406
197       1              dodge rampage   67952    54432
198       1                ford ranger   59497    52191
199       1                 chevy s-10   53132    45340

[398 rows x 11 columns]
15117
72662