# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
from collections import Counter
import seaborn as sns

# set this so the graphs open internally
%matplotlib inline

### Step 2. Create a data dictionary that looks like the DataFrame below

In [3]:
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }

### Step 3. Assign it to a variable called pokemon

In [4]:
pokemon = pd.DataFrame(raw_data)
pokemon.head()

         name   evolution   type  hp pokedex
0   Bulbasaur     Ivysaur  grass  45     yes
1  Charmander  Charmeleon   fire  39      no
2    Squirtle   Wartortle  water  44     yes
3    Caterpie     Metapod    bug  45      no

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [7]:
pokemon = pokemon[['name', 'type', 'hp', 'evolution', 'pokedex']]
pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [10]:
pokemon['info'] = ['Ever', 'Never','Just','Already']
pokemon

C:\Users\admin\AppData\Local\Temp\ipykernel_11956\1101980188.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pokemon['info'] = ['Ever', 'Never','Just','Already']

         name   type  hp   evolution pokedex     info
0   Bulbasaur  grass  45     Ivysaur     yes     Ever
1  Charmander   fire  39  Charmeleon      no    Never
2    Squirtle  water  44   Wartortle     yes     Just
3    Caterpie    bug  45     Metapod      no  Already

### Step 6. Present the type of each column

In [11]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       4 non-null      object
 1   type       4 non-null      object
 2   hp         4 non-null      int64
 3   evolution  4 non-null      object
 4   pokedex    4 non-null      object
 5   info       4 non-null      object
dtypes: int64(1), object(5)
memory usage: 324.0+ bytes

### BONUS: Create your own question and answer it.

In [13]:
pokemon.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
info         object
dtype: object