# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [55]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [56]:
first = np.random.randint(1, high=5, size=100, dtype='l')
second = np.random.randint(1, high=4, size=100, dtype='l')
third = np.random.randint(10000, high=30001, size=100, dtype='l')

In [57]:
first = pd.Series(first)
second = pd.Series(second)
third = pd.Series(third)

### Step 3. Let's create a DataFrame by joinning the Series by column

In [58]:
df = pd.concat([first, second, third], axis = 1)
df

    0  1      2
0   1  3  18986
1   1  1  15634
2   1  3  20809
3   3  1  23442
4   4  2  21782
.. .. ..    ...
95  3  3  12940
96  3  2  14901
97  4  1  13771
98  4  2  20162
99  4  3  11945

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [59]:
df.rename(columns={0: "bedrs", 1: "bathrs", 2: "price_sqr_meter"}, inplace = True)
df

    bedrs  bathrs  price_sqr_meter
0       1       3            18986
1       1       1            15634
2       1       3            20809
3       3       1            23442
4       4       2            21782
..    ...     ...              ...
95      3       3            12940
96      3       2            14901
97      4       1            13771
98      4       2            20162
99      4       3            11945

[100 rows x 3 columns]

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [60]:
ddf = pd.DataFrame()
ddf["bigcolumn"] = pd.concat([first, second, third])
ddf

    bigcolumn
0           1
1           1
2           1
3           3
4           4
..        ...
95      12940
96      14901
97      13771
98      20162
99      11945

[300 rows x 1 columns]

In [61]:
type(ddf)

pandas.core.frame.DataFrame

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [62]:
len(ddf)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [67]:
ddf.reset_index(drop = True)

     bigcolumn
0            1
1            1
2            1
3            3
4            4
..         ...
295      12940
296      14901
297      13771
298      20162
299      11945

[300 rows x 1 columns]